{% extends '_layouts/base.html' %}

{% block content %}
<!--BreadCrumbs-->
{% include '_layouts/breadcrumbs.html' %}
<!--EndBreadCrumbs-->

        <section class="ftco-section bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="wrapper px-md-4">
                            <div class="row mb-5">
                                <div class="col-md-3">
                                    <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-map-marker"></span>
                                </div>
                                <div class="text">
                                <p><span>Адресса:</span> Україна м.Київ вул.Велика Васильківська 122/133</p>
                                </div>
                            </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-phone"></span>
                                </div>
                                <div class="text">
                                <p><span>Телефон:</span> <a href="tel://1234567920">+380 95 55 77 186</a></p>
                                </div>
                            </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-paper-plane"></span>
                                </div>
                                <div class="text">
                                <p><span>Email:</span> <a href="mailto:info@yoursite.com">bibkabeershop@gmail.com</a></p>
                                </div>
                            </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-globe"></span>
                                </div>
                                <div class="text">
                                <p><span>Наш сайт</span> <a href="/">bibkabeershop.com.ua</a></p>
                                </div>
                            </div>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-md-7">
                                    <div class="contact-wrap w-100 p-md-5 p-4">
                                        <h3 class="mb-4">Зв'язок з нами</h3>
                                        <form method="POST" id="contactForm" name="contactForm" class="contactForm" action="contacts">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="name">Їм'я</label>
                                                        <input type="text" class="form-control" name="name" id="name" placeholder="Ваше ім'я...">
                                                    </div>
                                                </div>
                                                <div class="col-md-6"> 
                                                    <div class="form-group">
                                                        <label class="label" for="email">Ваш Email</label>
                                                        <input type="email" class="form-control" name="email" id="email" placeholder="Ваш Email...">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="subject">Тема</label>
                                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема...">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="#">Повідомлення</label>
                                                        <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Повідомлення..."></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="submit" value="Відправити" class="btn btn-primary">
                                                        <div class="submitting"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-5 order-md-first d-flex align-items-stretch">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d1068.8578580575218!2d30.52091587665211!3d50.419000131232266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e3!4m5!1s0x40d4cf3d4d1dcf59%3A0x406c4601433f737e!2z0JLQtdC70LjQutCwINCS0LDRgdC40LvRjNC60ZbQstGB0YzQutCwLCAxMjIsINCa0LjQtdCy!3m2!1d50.4191638!2d30.520903399999998!4m0!5e0!3m2!1sru!2sua!4v1685791181287!5m2!1sru!2sua" width="400" height="555" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}