{% extends '_layouts/base.html' %}

{% block content %}
    <div class="hero-wrap" style="background-image: url(../static/images/bg_2.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-8 ftco-animate d-flex align-items-end">
                <div class="text w-100 text-center">
                <h1 class="mb-4">Пей <span>Пиво</span> та їж <span>М'ясо</span>!</h1>
                <p><a href="/catalog" class="btn btn-primary py-2 px-4">Наші Товари</a> <a href="/about" class="btn btn-white btn-outline-white py-2 px-4">Дізнатись більше</a></p>
            </div>
            </div>
        </div>
        </div>
    </div>

      <section class="ftco-section ftco-no-pb">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3 col-md-4 ">
                      <div class="sort w-100 text-center ftco-animate">
                          <div class="img" style="background-image: url(../static/images/beer_main.jpg);"></div>
                          <h3>Пиво</h3>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 ">
                      <div class="sort w-100 text-center ftco-animate">
                          <div class="img" style="background-image: url(../static/images/sidr_main.png);"></div>
                          <h3>Сідр</h3>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 ">
                      <div class="sort w-100 text-center ftco-animate">
                          <div class="img" style="background-image: url(../static/images/wine_main.png);"></div>
                          <h3>Вино</h3>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 ">
                      <div class="sort w-100 text-center ftco-animate">
                          <div class="img" style="background-image: url(../static/images/zakys_main.jpg);"></div>
                          <h3>Закуски</h3>
                      </div>
                  </div>
                      </div>
                  </div>

              </div>
          </div>
      </section>

      <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center pb-5">
                    <div class="col-md-7 heading-section text-center ftco-animate">
                            <span class="subheading">Наші найкращі пропозиції</span>
                        <h2>Обирай для себе</h2>
                    </div>
                </div>
              <div class="row" id="catalog">
                {% for b in best_products %}
                    {%if b.quantitiy > 0 %}
                        <div class="col-md-4 d-flex">
                            <div class="product ftco-animate">
                                <div class="img d-flex align-items-center justify-content-center" style="background-image: url(../media/{{ b.photo }});">
                                    <div class="desc">
                                        <p class="meta-prod d-flex">
                                        <a href="/catalog/singl_product/{{ b.id }}" class="d-flex align-items-center justify-content-center"><span class="flaticon-visibility"></span></a>
                                        </p>
                                    </div>
                                </div>
                                <div class="text text-center">
                                        <span class="seller">Best Seller</span>
                                        <span class="category">{{b.category}}</span>
                                        <h2>{{b.name}}</h2>
                                        <p class="mb-0"><span class="price">{{ b.price }} грн</span></p>
                                </div>
                                <div class="add-to-cart" style="text-align: center;">
                                    <input type="hidden" id="count-1" value="1">
                                    <input type="hidden" value="{{ b.id }}">
                                    <button class="btn btn-dark"><a href="/catalog/singl_product/{{ b.id }}" style="color: aliceblue;">Деталі</a></button>
                                    <button id="add-to-cart-btn" class="btn btn-primary"> До кошика</button>
                                </div>
                            </div>
                        </div>
                    {%endif%}
                {% endfor %}
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <a href="/catalog" class="btn btn-primary d-block">Всі товари <span class="fa fa-long-arrow-right"></span></a>
                    </div>
                </div>
      </section>
{% endblock content %}
