{% load static %}
<footer class="ftco-footer">
    <div class="container">
      <div class="row mb-5">
        <div class="col-sm-12 col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2 logo"><a href="#">Bibka <span>BeerShop</span></a></h2>
            <p>Far far away, behind the word mountains, far from the countries.</p>
            <ul class="ftco-footer-social list-unstyled mt-2">
              <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Мій аккаунт</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Профіль</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Реєстрація</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Вхід</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Мої замовлення</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Інформація</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Про нас</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Товари</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Зворотній зв'язок</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Term &amp; Conditions</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Є запитання?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon fa fa-map marker"></span><span class="text">Україна, м.Київ, вул.Велика Васильківська 122/133</span></li>
                  <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+38 085 55 77 186</span></a></li>
                  <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">info@yourdomain.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid px-0 py-5 bg-black">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
      
              <p class="mb-0" style="color: rgba(255,255,255,.5);">
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | BibOFF Company </p>
            </div>
          </div>
        </div>
    </div>
  </footer>