{% extends '_layouts/base.html' %}

{% block content%}
{% load static %}
<!--BreadCrumbs-->
{% include '_layouts/breadcrumbs.html' %}
<!--EndBreadCrumbs-->
        <div class="content-panel">
            <div class="jumbotron container" style="text-align: center;">
                <hr>
                <h5 style="color: brown">
                    Дякуюємо за ваше замовлення на нашому сайті! ^_^
                </h5>
                <h5 style="color: brown">
                    Накладна з товарами надіслана на ваш Email
                </h5>
                <h5 style="color: brown">
                    Наші менеджери зв'яжуться з вами в найближчий час.
                </h5>
                <h5 style="color: brown">
                    Гарного дня та мирного неба!
                </h5>
                <hr>
            </div>
        </div>
{% endblock %}