{% extends '_layouts/base.html' %}


{% block content %}
{% load static%}
<section class="hero-wrap hero-wrap-2" style="background-image: url(/static/images/bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center">
                    <p class="breadcrumbs mb-0"><span class="mr-2"><a href="/">{{ app }} <i class="fa fa-chevron-right"></i></a></span> <span>{{ page }} <i class="fa fa-chevron-right"></i></span></p>
                <h2 class="mb-0 bread">{{ title }}</h2>
                </div>
            </div>
    </div>
</section>
<section class="ftco-section">
	<div class="container">
		<div class="row" id="catalog">
			<div class="col-lg-6 mb-5 ftco-animate">
				<a href="/media/{{ singl_product.photo }}" class="image-popup prod-img-bg"><img src="/media/{{ singl_product.photo }}" class="img-fluid" alt="Colorlib Template"></a>
			</div>
			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
				<h3>{{ singl_product.name }}</h3>
				<div class="rating d-flex">
						<p class="text-left mr-4">
							<a href="#" class="mr-2">{{ singl_product.rate }}</a>
							{% if singl_product.rate == 1 %}
							<a href="#"><span class="fa fa-star"></span></a>
							{% elif singl_product.rate == 2 %}
							<a href="#"><span class="fa fa-star"></span></a>
							<a href="#"><span class="fa fa-star"></span></a>
							{% elif singl_product.rate == 3 %}
							<a href="#"><span class="fa fa-star"></span></a>
							<a href="#"><span class="fa fa-star"></span></a>
							<a href="#"><span class="fa fa-star"></span></a>
							{% elif singl_product.rate == 4 %}
							<a href="#"><span class="fa fa-star"></span></a>
							<a href="#"><span class="fa fa-star"></span></a>
							<a href="#"><span class="fa fa-star"></span></a>
							<a href="#"><span class="fa fa-star"></span></a>
							{% elif singl_product.rate == 5 %}
							<a href="#"><span class="fa fa-star"></span></a>
							<a href="#"><span class="fa fa-star"></span></a>
							<a href="#"><span class="fa fa-star"></span></a>
							<a href="#"><span class="fa fa-star"></span></a>
							<a href="#"><span class="fa fa-star"></span></a>
							{% endif %}
						</p>
						<p class="text-left">
							<a href="#" class="mr-2" style="color: #000;">{{singl_product.sales}} <span style="color: #bbb;">Продажів</span></a>
						</p>
					</div>		
				<p>{{ singl_product.about }}</p>
				<div class="w-100"></div>
				<div class="col-md-12">
					<p class="price"><span>{{ singl_product.price }} Грн</span></p>
				</div>
				{% if singl_product.quantitiy > 0 %}
					<div class="row mt-4">
						<div class="input-group col-md-6 d-flex mb-3">
							<p style="color: #000;">У наявності {{ singl_product.quantitiy }}</p>
							<input type="number" id="count-1" min="1" value="1" style="text-align: center;">
		    			</div>
						<p>
							<input type="hidden" value="{{ singl_product.id }}">
							<button class="btn btn-dark"><a href="/orders/">Мій кошик</a></button>
							<button id="add-to-cart-btn" class="btn btn-primary"> Додати до кошика</button>
						</p>
					</div>
				{% else %}
					<p>
						<h3>Нема в наявності</h3>
					</p>
				{% endif %}
					
				</div>




					<div class="row mt-5">
				<div class="col-md-12 nav-link-wrap">
					<div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link ftco-animate active mr-lg-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Опис товару</a>

					<a class="nav-link ftco-animate mr-lg-1" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Виробник</a>

					<a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Відгуки</a>

					</div>
				</div>
				<div class="col-md-12 tab-wrap">
					
					<div class="tab-content bg-light" id="v-pills-tabContent">

					<div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
						<div class="p-4">
							<h3 class="mb-4">{{ singl_product.name }}</h3>
							<p>{{ singl_product.about }}</p>
						</div>
					</div>

					<div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
						<div class="p-4">
							<h3 class="mb-4">Виробник {{ singl_product.producer }}</h3>
						</div>
					</div>
					<div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
						<div class="row p-4">
										<div class="col-md-7">
											<h3 class="mb-4">Коментарів: {{ coment_count }} </h3>

											<div class="review">
												{% for c in singl_comments %}
												<div class="desc">
													<h4>
														<span class="text-left">{{ c.name }}</span>
														<span class="text-right">{{ c.date }}</span>
													</h4>
													<p class="star">
														<span>
														{% if c.rate == 1 %}
															<i class="fa fa-star"></i>
														{% elif c.rate == 2 %}
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														{% elif c.rate == 3%}
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														{% elif c.rate == 4%}
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														{% elif c.rate == 5%}
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														{% endif %}
														</span>	
													</p>
													<p>{{ c.coment_text }}</p>
												<hr>
												</div>
											
												{% endfor %}
												<div class="comment-form-wrap pt-5">
													<hr>
													<h3 class="mb-5">Залиште коментар</h3>
													<form action="/catalog/singl_product/{{ singl_product.id }}" class="p-5 bg-light" method="post" onsubmit="return true">
														{% csrf_token %}
															{% if user.is_authenticated %}
															<div class="form-group">
																<h3><label for="name">{{ user.username }}</label></h3>
																<input type="hidden" class="form-control" id="c-name" name="c-name"  value="{{ user.username }}" required>
															</div>
															{% else %}
															<div class="form-group">
																<label for="name">Ваше ім'я</label>
																<input type="text" class="form-control" id="c-name" name="c-name" required>
															</div>
															{% endif %}
															<div class="form-group">
																<label for="number">Оцінка від 1 до 5 балів</label>
																<input type="number" class="form-control" id="c-rate" name="c-rate" min="1" max="5" required>
															</div>
															<div class="form-group">
																<label for="message">Повідомлення</label>
																<textarea name="c-text" id="c-text" cols="30" rows="10" class="form-control" required></textarea>
															</div>
															<div class="form-group">
																<input type="hidden" id="c-product-id" name="c-product-id" value="{{ product.id }}">
																<input type="submit" value="Відправити" class="btn py-3 px-4 btn-primary">
																<input type="reset" value="Очистити" class="btn btn-danger" style="padding: 16px 16px;">
															</div>
													</form>
												  </div>
											</div>
										</div>
									</div>
							</div>
						</div>
						</div>
					</div>
        </div>
</section>
{% endblock content %}